<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - My Art Portfolio</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <header>
        <h1>WishCraft By Twisha</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="https://www.etsy.com/shop/wishcraftbytwisha">Shop</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <section class="bio">
            <h2>About Me</h2>
            <p>Hello! I'm Twisha, a passionate artist who loves creating beautiful and meaningful art. Welcome to WishCraft, a student owned and run handmade jewelry shop, selling affordable and cute peices to fit any style. I make peices of mutiple styles, and have many customization options, you can find anything you *wish* for..</p>
        </section>
        <section class="gallery">
            <div class="gallery-item">
                <img src="assets/Necklace.jpg" alt="Necklace">
                <div class="gallery-text">
                    <h3>Title of Artwork 1</h3>
                    <p>I love creating necklaces with multiple segments because of the way they drape over the neckline and call attention to the collarbone. </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="assets/Earings.jpg" alt="Artwork 2">
                <div class="gallery-text">
                    <h3>Title of Artwork 2</h3>
                    <p>Earings allow me to showcase my arts ablitiy to be simplicity. In my earings, you will find both minimalistic and materialistic design. </p>
                </div>
            </div>
            <div class="gallery-item">
                <img src="assets/Braclet.jpg" alt="Artwork 3">
                <div class="gallery-text">
                    <h3>Title of Artwork 3</h3>
                    <p>Braclets are some of my most generic designs but if you look closer you will find a superior selection of materials and attention to detail.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 By Rose W. All rights reserved.</p>
    </footer>
</body>
</html>
